body {
    background-color: rgb(70, 142, 236);
   font: normal 15pt Arial;
}
   
header{
   color: #fff;
   text-align: center;
}
   
section{
    background-color: #fff; 
    border-radius: 10px; 
    padding: 90px; 
    width: 500px;
    margin: auto;
    }
   
footer{
    color: #fff;
    text-align: center;
    font-style: italic;
    border-top: 1px solid white;
}